//variables de mi proyecto
*{
   $mainfont:'Playfair Display', serif;
}
$maincolor:rgb(15, 14, 14);
$secondarycolor:rgb(163, 159, 159);
$tercercolor:rgba(89, 233, 70, 0.767);
$mainsie:1.5em;
$mainsie2:1em;
$maincen:center

















